Example/YNBluetooth.xcodeproj/xcuserdata/*
Example/YNBluetooth.xcodeproj/project.xcworkspace/xcuserdata/*
Example/YNBluetooth.xcodeproj/project.xcworkspace/xcshareddata/*
Example/YNBluetooth.xcworkspace/xcuserdata/*
Example/YNBluetooth.xcworkspace/xcshareddata/*
Example/Pods/Pods.xcodeproj/xcuserdata/*
YNBluetooth/build/*
YNBluetooth/Pods/Pods.xcodeproj/xcuserdata/*
YNBluetooth/Pods/*
YNBluetooth/Podfile.lock
YNBluetooth/testing
YNBluetooth/compile_commands.json

bin
obj
packages
*.suo
*.user
*.DS_Store*
contents.xcworkspacedata

